#content
{
	margin: 0 auto;
	width: 928px;
	height: 396px;
	border: 10px solid gray;
}
#gif
{
	float: left;
	width: 628px;
	height: 396px;
	background-color: rgb(100,200,100);
}
#controls
{
	float: right;
	padding: 20px;
	width: 260px;
	height: 356px;
	background-color: rgb(200,200,200);	
}
